@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.chart {
  &__activity {
    &--performance {
      width: 258px;
      height: 263px;
      margin: 0px;

      // background-color: $colour-secondary;
    }
  }
  &__performance {
    // padding: 2rem 2rem; // espace à gauche + droite
	overflow: visible;   // ⚠️ important pour ne pas masquer "intensity"
  position:relative;
    width: 100%;
    height: 100%;
    border-radius: $border-rad;
    background-color: $colour-secondary;
    tspan {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
