*,
*::before,
*::after {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
