@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.chart {
  &__activity {
    &--averageSessions {
      width: 258px;
      height: 263px;
      margin: 0px;
      border-radius: $border-rad;
      background-color: $colour-primary;
      overflow: hidden;
      .averageSessions {
        width: 100%;
        height: 100%;
        position: relative;

        &__title {
          width: 170px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.66);
          position: absolute;
          top: 25px;
          left: 25px;
        }
        &__chart {
          width: 100%;
          height: 111%;
          position: absolute;
          font-size: 11px;
          &--toolTip {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-size: 10px;
            background-color: white;
          }
        }
      }
    }
  }
}
