@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.aside {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: -100px 0px 0px 0px;
  padding-top: 100px;
  background-color: black;
  position: relative;
  &__links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px;
    list-style: none;
  }
  &__link {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      background-color: white;
      border-radius: $border-rad;
      &:hover {
        background-color: $colour-tertiary;
      }
    }
    &--active {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        background-color: rgb(247, 190, 198);
        border-radius: $border-rad;
        &:hover {
          background-color: $colour-tertiary;
        }
      }
    }
  }
  &__ref {
    color: white;
    transform: rotate(270deg);
    position: absolute;
    bottom: 105px;
    left: -17px;
    white-space: nowrap;
    font-size: 13px;
  }
}
